# Local development
# NEXT_PUBLIC_API_URL=http://localhost:8000

# EasyPanel production (use your server IP or domain)
NEXT_PUBLIC_API_URL=http://187.124.46.250:8000
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_SNAPCHAT_PIXEL_ID=
